fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
pydantic
python-dotenv
typing_extensions
python-multipart
alembic
pytest
httpx
pytest-asyncio
pytest-cov
coverage
flake8   
sqlalchemy
       